#head1 {
	width: 100%; 
	height: 38px;
	background-image: url(naut/nautpdpd.png);
	background-position: 0 0;
	background-repeat: repeat-x;
	position: absolute;
	left: 0px;
	top: 0px;
}
body {
	background-image: url(naut/nautpqpq.png);
	background-position: 0 0;
	background-repeat: repeat-y;
}
#col2 {
	position: absolute;
	left: 31px;
	top: 38px;
	right: 0px;
	padding: 0px 10px;
	margin-top: 0px;
	border-top: ridge black 2px;
	border-left: ridge black 2px;
}
#navline {
	position: relative;
	padding: 0px 0px;
	margin: 0;
}
h1 { margin-top: 3px; margin-bottom: 3px; }
body,p,ul,li,td { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small; }
code { font-size: small; }
	